!DOCTYPE html
html lang="en"
//<!--head tag with bootstrap cdn link  -->
head
  title Address Phone Book
  meta (charset="utf-8")
  meta (name="viewport" content="width=device-width initial-scale=1")
  link (rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link (rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  script (src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script (src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script (src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script (type="text/javascript" src="form.js")
  script (type="text/javascript" src="autocomplete.js")
  script (type="text/javascript" src="add.js")
  style (media="screen")
    #mymodal{
      position:absolute;
    }
//<!--body division  -->

body
  div(class="container")
  //<!-- creating panel with file menu on header select list displaying person in body and other options in footer -->
    div(class="panel panel-default")
      div(class="panel-heading")
        input(type="text" id="stext" autocomplete="off")
        button(type="button" class="btn btn-md" id="SEARCH")
          Search
      //<!-- using select list in panel body for showing contacts or persons added to the list -->
      div(class="panel-body")
        form
          label(for="selectlist")
            Contact
          select multiple(class="form-control" id="selectlist")
      //<!-- other buttons in panel footer -->
      div(class="panel-footer")
        //<!--  on clicking add and edit button modal dialog box will appear-->
        input(type="button" id="OPEN" class="btn btn-info btn-md" value="Show")
        input(type="button" class="btn btn-info btn-md" value="Add" data-toggle="modal" data-target="#add")
        input(type="button" id="EDIT" class="btn btn-info btn-md" value="Edit")
        input(type="button" id="REMOVE" class="btn btn-info btn-md" value="Delete")
        //<!-- Modal class definitions for add, edit and saveas buttons -->
    div(class="modal fade" id="add" role="dialog")
      div(class="modal-dialog")
        //<!-- Modal content-->
        div(class="modal-content")
          div(class="modal-body")
            div(class="form-group")
              label(for="firstname")
                Enter First Name:
              input(type="text" class="form-control" id="firstname")
              label(for="lastname")
                Enter Last Name:
              input(type="text" class="form-control" id="lastname")
              label(for="number")
                Enter Number:
              input(type="text" class="form-control" id="number")
              label(for="pincode")
                Enter Pin Code:
              input(type="text" class="form-control" id="pincode")
          div(class="modal-footer")
          //<!--Add and cancel options  -->
            button(type="button" class="btn btn-default" onclick="addinbook()"
              Add
            button(type="button" class="btn btn-default" data-dismiss="modal")
              Cancel
    div(id="space")
    div(id="modaldialog")
